[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-yasg = "*"
prettyconf = "*"
django-filter = "*"
whitenoise = "*"
gunicorn = {extras = ["gevent"], version = "*"}
greenlet = "*"
psycogreen = "*"
gevent = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-extra-fields = "*"
django-cors-headers = "*"
django-admin-honeypot = "*"
drf-extra-fields = "*"
pillow = "*"
django-extensions = "*"
python-decouple = "*"
celery = {extras = ["redis"], version = "*"}
django-celery-beat = "*"
django-celery-results = "*"
django-health-check = "*"

[dev-packages]

[requires]
python_version = "3.9"
